* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    position: relative;

    .label {
        color: #333448;
        font-size: 12px;
        font-weight: 600;
        position: absolute;
        background-color: #fff;
        top: -10px;
        left: 10px;
        padding: 0 5px;

        .required {
            font-weight: 500;
            font-size: 15px;
            line-height: 0;
            margin-left: 5px;
            color: #ff0000;
        }
    }
    .textField {
        width: 100%;
        padding: 10px 15px;
        border: 2px solid rgba(46, 55, 164, 0.1);
        font-size: 14px;
        border-radius: 10px;
        min-height: 45px;
    }
}
